@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.Kumbh {
	font-family: 'Kumbh Sans', sans-serif;
}

.bgtop {
	background-image: url('../profile-card-component-main/images/bg-pattern-top.svg');
}

.bgcard {
	background-image: url('../profile-card-component-main/images/bg-pattern-card.svg');
}

.bgbottom {
	background-image: url('../profile-card-component-main/images/bg-pattern-bottom.svg');
}