@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@200;300;400;500;600&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.Overpass {
	font-family: 'Overpass', monospace;
}